@import url(reset.css);
caption{
  margin-top: 20px;
  background-color: #4F4F4F;
  color: white;
  padding: 10px;
  font-size: 16px;
}
th{
  background-color: #d3d3d3;
}
table{
  overflow-x: scroll;

    width: 100%;
    max-width: 700px;
  border: 1px solid #4F4F4F;
}
tr{
  border: 1px solid #4F4F4F;
  margin: 10px;
  padding:4px;
}
td{
  margin: 10px;
  border: 1px solid #4F4F4F;
  padding:7px;
}
ol{
  width: 375px;
    list-style: none;
}
ol > li{
    padding-left: 1em;
    position: relative;
    margin: 1em;
}
ol > li:before{
    list-style-type:armenian;
    position: absolute; top: 0; left: 0;
    color: black;}

h1{
  margin-top: 20px;
  margin-left:10px;
  width: 375px;
  font-size: 24px;
}
p{
  width: 375px;
margin-left:10px;
}
